In [13]:
fname = input('isikan nama awal : ')
mname = input('isikan nama tengah : ')
lname = input('isikan nama akhir : ')

print('Selamat Datang',fname,mname,lname,"S.Kom")

isikan nama awal : ADVENT
isikan nama tengah : CLEMET
isikan nama akhir : ZENDRATO
Selamat Datang ADVENT CLEMET ZENDRATO S.Kom

In [14]:
bil1 = input('Isikan bilangan 1 : ')
bil2 = input('Isikan bilangan 2 : ')
print(type(bil1))
hasil = int(bil1)+int(bil2)
print ('hasil penjumlahan = ',hasil)

Isikan bilangan 1 : 23
Isikan bilangan 2 : 23
<class 'str'>
hasil penjumlahan =  46

In [26]:
P = input ('panjang :')
L = input ('lebar :')
print(type(P))
luas = int(P)*int(L)
print('luas = ',luas,"cm")
keliling = 2*((int(P))+(int(L)))
print('keliling = ',keliling,"cm")

panjang :121
lebar :112
<class 'str'>
luas =  13552 cm
keliling =  466 cm

In [9]:
print("januari","february","maret","april", sep="#"*5)

januari#####february#####maret#####april

In [10]:
print("senin","selasa","rabu","kamis","jumat",sep="@",end="^_^")
print("one","two",sep="\n")

senin@selasa@rabu@kamis@jumat^_^one
two

In [12]:
number1 = 7
number2 = 10

#hasil perkalian 
print("perkalian {} dengan {} adalah {}".format(number1,number2,number1*number2))

perkalian 7 dengan 10 adalah 70

In [18]:
first_letter = "ADVENT"
middle_letter = "CLEMENT"
Last_letter = "ZENDRATO"
print ("urutan huruf {2} {0} {1}".format(first_letter,middle_letter,Last_letter))

urutan huruf ZENDRATO ADVENT CLEMENT

In [19]:
print("sekarang tanggal {tanggal} Bulan {bulan} tahun {tahun}".format(tanggal = 20,bulan="maret",tahun=2024))

sekarang tanggal 20 Bulan maret tahun 2024

In [32]:
kampus = "Universitas Nusa Putra in the best"
print("Huruf pertama adalah : ",kampus[0])
print("Huruf terakhir adalah : ",kampus[1])
print("Huruf range 0-10 : ",kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
#Reverse string
print(kampus[::-1])

Huruf pertama adalah :  U
Huruf terakhir adalah :  n
Huruf range 0-10 :  Universitas
 best
Nusa Putra in the best
tseb eht ni artuP asuN satisrevinU

In [35]:
#split => string -> list
kota = "jakarata gunungsitoli niasbarat malang bandung "
list_kota = kota.split()
print(list_kota)
print(list_kota[2])
#join=> list -> string
join_kota = "@".join(list_kota)
print(join_kota)

['jakarata', 'gunungsitoli', 'niasbarat', 'malang', 'bandung']
niasbarat
jakarata@gunungsitoli@niasbarat@malang@bandung

In [95]:
#iskan nama anda : advent clement
#isikan tanggal lahir : 10/12/2004
#output
#nama awal : 
#nama akhir :
#tanggal lahir 
#bulan lahir
#tahun lahir
#nama insial

nama = input("NAMA : ")
tanggal_lahir = input ("TANGGA  : ")
list_nama=(nama.split())
print ("nama awal : ",list_nama[0])
print ("nama akhir : ",list_nama[1])



list_tanggal=tanggal_lahir.split("/")

if list_tanggal [1] == "01" :
    keterangan = "januari"
elif list_tanggal [2] == "02" :
    keterangan =  " februari"
elif list_tanggal [3] == "03" :
    keterangan =  " maret"
elif list_tanggal [4] == "04" :
    keterangan =  " april"
elif list_tanggal [5] == "05" :
    keterangan =  " mei"
elif list_tanggal [6] == "06" :
    keterangan =  " juni"
elif list_tanggal [7] == "07" :
    keterangan =  " juli"
elif list_tanggal [8] == "08" :
    keterangan =  " agustus"
elif list_tanggal [9] == "09" :
    keterangan =  " septemeber"
elif list_tanggal [10]== "10" :
    keterangan =  " oktober"
elif list_tanggal [11]== "11":
    keterangan =  "november"
elif list_tanggal [12] == "12" :
    keterangan =  "desember"
print("tanggal lahir : ",list_tanggal[0])
print ("Bulan lahir : ",list_tanggal[1],keterangan)
print("Tahun lahir : ",list_tanggal[2])
print ( "inisial : ",list_nama[0][0]+list_nama[1][0])

NAMA : ADVENT CLEMENT
TANGGA  : 10/12/2004
nama awal :  ADVENT
nama akhir :  CLEMENT

IndexError: list index out of range